.mtc-popup-placeholder {
    position: fixed;
    width: 100%;
    pointer-events: none;
}

.mtc-popup-overlay {
    display: flex;
    bottom: 0;
    box-sizing: border-box;

    .ant-popover-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .ant-popover-inner-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .mtc-field-body {
                flex: 1;
                overflow: hidden auto;
            }
        }
    }
}

.mtc-ballon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}